.name { color: orange; background-color:#121232; }
.text { color: #00FF00; }
body { background-color: black; font: 14px arial, sans-serif;line-height:1.3em}
h4 { font: 12px arial, sans-serif; width:100%; text-align:right; border-bottom: 1px solid #222222; line-height:.1em; margin:-11px 0 -13px; }
h4 span { color:#8080C0; background:black; padding:0 10px; }
